*{
    box-sizing: border-box;

    outline: none;
    padding: 0%;
    border: 0cap;
    margin: 0;

    font-family: reboto;
    font-size: 1rem;
    font-weight: 400;
    color: rgb(255, 255, 255, );

}



body {
    background-color: rgb(72, 72, 72);
    background-size: 100;
    display: flex;
}

img{
    border-radius: 30% 0;
}
h1 h2 h3 h4 {
    

    font-size: 24pt;
    font-weight: 800;
}

button{
    border-radius: 400;
    background-color: rgb(46, 46, 46);
    border: solid 2px rgb(46, 46, 46);
    font-weight: bold;
    transition: 0ms;align-self: auto;
    transition: color .6s
    ease-out;
    padding: .7rem 2.3rem;
    border: solid 16px color(srgb rgb(216, 216, 216) );
   } 
   button:hover{
    background-color: rgb(60, 60, 59);
    color: rgb(61, 61, 61);
   } 
#track-list {
    width: 300px;
}

#track-list img {
    width: 50%;
}
